@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --red: #ff3838;
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--red);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background: #f7f7f7;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 1rem 7%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--light-color);
}

header .logo i {
    padding-right: .5rem;
    color: var(--red);
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a:hover,
header .navbar a.active {
    color: #fff;
    background: var(--green);
}


header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    border-radius: 50%;
    background: #eee;
    color: var(--black);
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}


@media(max-width:768px){

    #menu-bar{
      display: initial;
    }
  
    header .navbar{
      position: absolute;
      top:100%; left: 0; right:0;
      background: #f7f7f7;
      border-top: .1rem solid rgba(0,0,0,.1);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  
    header .navbar a{
      margin: 1.5rem;
      padding:1.5rem;
      display: block;
      border:.2rem solid rgba(0,0,0,.1);
      border-left:.5rem solid var(--red);
      background:#fff;
    }
  
  }
  
/* media queries  */

@media (max-width:991px){

  html{
      font-size: 55%;
  }
  
  header{
      padding:1rem 2rem;
  }

  section{
      padding:2rem;
  }


}

@media (max-width:768px){

  header .icons #menu-bars{
      display: inline-block;
  }

  header .navbar{
      position: absolute;
      top:100%; left:0; right:0;
      background:#fff;
      border-top: .1rem solid rgba(0,0,0,.2);
      border-bottom: .1rem solid rgba(0,0,0,.2);
      padding:1rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
      display: block;
      padding:1.5rem;
      margin:1rem;
      font-size: 2rem;
      background:#eee;
  }

  #search-form #search-box{
      width:90%;
      margin:0 1rem;
  }

  .home .home-slider .slide .content h3{
      font-size: 5rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .dishes .box-container .box img{
      height:auto;
      width: 100%;
  }

  .order form .inputBox .input{
      width:100%;
  }

}

